
/* Full-width inputs */
input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    font-size: 18px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 5%;
    border-radius: 5%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    text-align: center;
}
.form{
  font-family: 'Droid Sans', sans-serif;
}

.register{
  font-style: italic;
}
.login{
  font-style: italic;
}
label{
  font-weight: bold;
}
