#zlash1{
  display: none;
  width: 65%;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 2%;

}
#zlash2{
  display: none;
  width: 65%;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 2%;

}
#zlash3{
  display: inline-block;
  width: 65%;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 2%;

}
#zlash4{
  display: none;
  width: 65%;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 2%;

}
span.figura{
  width: 1px;
  float: left;
  padding: 5px;
  /*margin: 5px;*/
}
.texto{
  width: 640px;
  float: left;
  /*margin: 5px;*/
  padding: 5px;
  padding-left: 7%;
}

body{
  background: white;
}
.conteiner{
   width: 1180px;
    margin: auto;
    background: white;
    color: black;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    height: 750px;

    /*border: 3px solid black;*/
}

#lash {
    font-size: 3ex;
    font-weight: bold;

}

#lash ul{
    margin-left: 40px;

}

#lash li{
    list-style-type: none;
    float: right;
    text-align: center;
    margin: 0px 29px 0px -20px;
    background: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 4px solid black;
    border-bottom: black;
    padding: 3px 10px 3px 10px;
}

#lash li:hover {
 background: #474343;
 color: black;
 /*box-shadow: inset 0 0 0 3px #474343;*/
}

#lash a:link{
    text-decoration: none;
    color: black;
}

#lashConteiner{
    clear: both;
    background: white;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border: 2px solid gray;
    width: 1150px;
    border: 3px solid black;
    height: 600px;
}

#lateral{
  float: right;
  padding: 10px;
  width: 25%;
  height: 495px;
  display: inline-block;
  background: white;
  /*border-radius: 2px;*/
  border-top-left-radius: 2px;
  border: 3px solid darkgray;
  /*margin: 0px 9px 0px -10px;*/
}

span.circulo{
  display: block;
  width: 50px;
  height: 50px;
  background: gray;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
body{
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
}


div.Idle{
    padding: 9px;
    /*background: #acff9e;*/
    background: #cce8b5;
		border: 3px solid gray;
    border-radius:15px;
    width: 760px;
    height: 60px;
    margin: 10px;
}

div.Building{
    padding: 9px;
    background: #fffbb9;
    height: 60px;
		border: 3px solid gray;
    border-radius:15px;
    width: 760px;
    margin: 10px;
}

.boton{
  font-size: 15px;
  /*font-family: 'Poppins', sans-serif;*/
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  background: #a0a39e;
  margin: 3px;
  border-radius: 13px 13px 13px 13px;
  border-color: black;
  padding-left: 18px;
  padding-right: 18px;
  height: 40px;
}

.botones{
  font-family: 'Poppins', sans-serif;
  background: #cccccc;
  border-radius: 6px 6px 6px 6px;
  height: 24px;
  width: 25px;
  font-weight: 900;
  font-size: 15px;
}

.contRecurso{
  margin: 8px;
}
.signed{
  float: right;
}
.derecha{
  width : 20px;
  height : 20px;
  font-size : 1px;
  border-style : solid;
  border-top-color : #fff;
  border-left-color : #000;
  border-right-color : #fff;
  border-bottom-color : #fff;
  border-top-width : 10px;
  border-left-width : 20px;
  border-right-width : 10px;
  border-bottom-width : 10px;
  background-color : #000;
  padding : 0;
}

.gray{
  width: 100%;
  background: #606060;
  height: 80px;
}

.info{
  height: 7px;
}
