/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted #c6d1c6; /* If you want dots under the hoverable text */
}
.tooltiptext {
  display: none;
    background-color: #c6d1c6;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

#txtresource{
  width: 340px;
}

 .tooltip {
    width: 360px;
    top: 100%;
    left: 10%;
    margin-left:-60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
/*.tooltip:hover .tooltiptext {
    display: : block;
    opacity: 1;
}*/
.tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -120px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #c6d1c6 transparent;
}
.rounded{
  border-radius: 10px 10px 10px 10px;
  border-color: black;
}

.tooltiptext.nuevo{
  display: block;
}
